#toolbarContainer {
  background: #FFFFFF;
}

#indicatorWrapper, button#download , #toolbarViewerRight {
display: none;
visibility: hidden;
}
 .indicatorWrapper {
display: none;
visibility: hidden;
}
