#toolbarContainer {
  background: #FFFFFF;
}

#indicatorWrapper, button#download , #toolbarViewerRight, #scaleSelectContainer, .indicatorWrapper, .numPages,.splitToolbarButton {
display: none;
visibility: hidden;
}
