::-webkit-input-placeholder { 
    color:    black;
}
#toolbarContainer {
  background: #FFFFFF;
}

button#download , #scaleSelectContainer, #numPages, #secondaryToolbarToggle, #viewBookmark, #previous, #next {
display: none;
visibility: hidden;
}

svg {
    filter: invert(8%) sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(0%) contrast(143%); 
}

#toolbarViewerLeft  .indicatorWrapper {
display: none;
visibility: hidden;
}

#viewFind {
overflow: auto; 
position: absolute !important; 
right: 16px;
z-index: 1;
}

#toolbarViewerMiddle .splitToolbarButton {
margin-right: 60px !important;
}

#findbar {
  right: 16px;
    left: auto;
    background: white;
    border: none;
    box-shadow: 0px 4px 16px 2px rgb(0 0 0 / 12%);
    border-radius: 8px;
}

#findInput , .toolbarLabel {
color: black;
}



input[type=checkbox] {
	accent-color: black;
}



.doorHanger:after, .doorHanger:before, .doorHangerRight:after, .doorHangerRight:before { 
display: none;
visibility: hidden;
}
